*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  display: inline-block;
}

ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5e5e5e;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

header{
  font-family: 'Roboto', sans-serif;
}

.header_top{
  background-color: #303030;
}

.header_btn{
  float: right;
  line-height: 36px;
  color: #1b1b1b;
  background-color: #ffc222;
  padding: 5px 20px 4px 50px;
  font-size: 16px;
  position: relative;
}

.header_btn::before{
  content: "\f0b1";
  font-family: 'icomoon';
  position: absolute;
  left: 22px;
  color: #1b1b1b;
}

.header_contacts:after{
  content: "";
  clear: both;
  display: block;
}

.header_phone,.header_email{
  color: #cbcacb;
  letter-spacing: 0.25px;
  line-height: 45px;
  position: relative;              /*Делаем иконки  слева и выравниваем*/
}

.header_phone{
  padding-left: 20px;
  padding-right: 30px;
}

.header_phone:before{
  content: "\f095";
  font-family: 'icomoon';
  position: absolute;               /*Делаем иконку телефона слева и выравниваем*/
  left: 0;            /*Делаем иконку телефона слева и выравниваем*/
  color: #ffc222;
}

.header_email{
  padding-left: 24px;
}

.header_email:before{
  content: "\f003";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffc222;
}

.header_content{
  padding: 34px 0px 23px;
}

.header_content-inner{
  display: flex;
  justify-content: space-between;
}

.menu li{                              /*делаем список в 1 линию*/
  display: inline-block;
}

.menu a{                             /*оформляем ссылки в списке*/
  color: #323232;
  font-size: 16px;
  line-height: 36px;
  border: 1px solid transparent;         /*прозрачная линия для hover*/
  padding: 0px 16px;
  transition: all .3s;         /*замедление появления рамки для hover*/
}

.menu a:hover{
  border-color: #ffc222;
}

.menu li + li{                          /*создаем расстояние между ссылками списка*/
  padding-left: 10px;
}

#modal{
  display: none;
}

